In [1]:

import pandas as pd
import numpy as np

data = pd.read_csv('Movie Ratings.csv')
data.rename( columns={'Unnamed: 0':'User'}, inplace=True )

data

,User,Spider-Man: No Way Home,Black Widow,No Time to Die,Dune,Candyman
0,Kassandra,4.5,NaN,4.5,4.0,4.5
1,Nicole,5.0,4.5,NaN,5.0,4.5
2,Lorena,4.0,4.0,3.5,NaN,5.0
3,Erika,NaN,5.0,5.0,4.5,4.0
4,James,4.5,4.5,4.0,4.5,NaN

In [2]:
#Calculation average rating for all the movies
avgMovie = data.mean(axis='index')
avgMovie

C:\Users\13472\AppData\Local\Temp/ipykernel_16156/70686235.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avgMovie = data.mean(axis='index')

Spider-Man: No Way Home    4.50
Black Widow                4.50
No Time to Die             4.25
Dune                       4.50
Candyman                   4.50
dtype: float64

In [3]:
#Calculation average rating for all the users
avgUser = data.mean(axis='columns')
avgUser

C:\Users\13472\AppData\Local\Temp/ipykernel_16156/1375107663.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avgUser = data.mean(axis='columns')

0    4.375
1    4.750
2    4.125
3    4.625
4    4.375
dtype: float64

In [4]:
#Data normalization

normal = lambda x: (x - np.mean(x)) / (np.max(x) - np.min(x))

normalized = data.copy()

columns_normal = ["Spider-Man: No Way Home", "Black Widow", "No Time to Die", "Dune", "Candyman"]
normalized = normalized[columns_normal].apply(normal)
normalized

   Spider-Man: No Way Home  Black Widow  No Time to Die  Dune  Candyman
0                      0.0          NaN        0.166667  -0.5       0.0
1                      0.5          0.0             NaN   0.5       0.0
2                     -0.5         -0.5       -0.500000   NaN       0.5
3                      NaN          0.5        0.500000   0.0      -0.5
4                      0.0          0.0       -0.166667   0.0       NaN

In [5]:
#Calculation average rating for all the movies after data normalization
avgMovie = normalized.mean(axis='index')
avgMovie

Spider-Man: No Way Home    0.000000e+00
Black Widow                0.000000e+00
No Time to Die            -6.938894e-18
Dune                       0.000000e+00
Candyman                   0.000000e+00
dtype: float64

In [6]:
#Calculation average rating for all the users after data normalization
avgUser = normalized.mean(axis='columns')
avgUser

0   -0.083333
1    0.250000
2   -0.250000
3    0.125000
4   -0.041667
dtype: float64

In [7]:
#Data standardization

standard = lambda x: (x-x.mean()) / x.std()

standardized = normalized[columns_normal].apply(standard)
standardized

   Spider-Man: No Way Home  Black Widow  No Time to Die      Dune  Candyman
0                 0.000000          NaN        0.387298 -1.224745  0.000000
1                 1.224745     0.000000             NaN  1.224745  0.000000
2                -1.224745    -1.224745       -1.161895       NaN  1.224745
3                      NaN     1.224745        1.161895  0.000000 -1.224745
4                 0.000000     0.000000       -0.387298  0.000000       NaN

In [8]:
#Calculation average rating for all the users after data standardization
avgUser = standardized.mean(axis='columns')
avgUser

0   -0.209362
1    0.612372
2   -0.596660
3    0.290474
4   -0.096825
dtype: float64

In [9]:
#Calculation average rating for all the movies after data standardization
avgMovie = standardized.mean(axis='index')
avgMovie

Spider-Man: No Way Home    0.000000e+00
Black Widow                0.000000e+00
No Time to Die             1.387779e-17
Dune                       0.000000e+00
Candyman                   0.000000e+00
dtype: float64